---
layout: default_video
---
<div class="home">

  <h1 class="page-heading">Livestreams</h1>

  <ul class="stream-list">
    {% for stream in site.data.main %}
      <li>
        <span class="stream-meta">{{ stream.name }}</span>
        <video-js id="my-player-{{ forloop.index }}" class="video-js" width="400" controls data-setup='{"preload": "none"}' preload="none">
            <source src="{{ stream.url }}" type="application/x-mpegURL">
            <p class="vjs-no-js">To view this video please enable JavaScript.</p>
            </video-js>
        <script>var player{{ forloop.index }} = videojs('my-player-{{ forloop.index }}');</script>
      </li>
    {% endfor %}
  </ul>

</div>
